@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,300;1,500&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background: #333;
}

.logo{
  width: 210px;
}

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.banner .content {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.banner .content h2 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  text-transform: uppercase;
  color: #36AE7C ;
  transition: all 0.5s;
  cursor: pointer;
}

.banner .content h2:hover {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  background: #36AE7C;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
}

.banner .content p{
  font-size: 1.5em;
 
  color:#fff;
}

section {
  padding: 100px;
}

section h2 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #fff;
}

section p {
  line-height: 1.8em;
  font-size: 20px;
  color: #fff;
}

.verde {
  color: #36AE7C ;
}

h2 {
  color: #36AE7C ;
}

/* From uiverse.io */

.botao{
  display: flex;
 justify-content: center;
 margin: 10px;
 padding: 10px;
}
a{
  text-decoration: none;
  font-size: 1.5em;
  color: #333;
  font-weight: 800;
}
button  {
 
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

